{
  "printWidth": 80,
  "semi": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "clsx"
  ]
}